
      <div id="content">
        <div id="about">
          <h3 class="title" id="aboutUS">关于手工客</h3>
          <div id="hope">
            <p>我们希望和你一起创造一个简单、公平而又尊重原创的手工爱好者社区，</p>
            <p>现在我们邀请你，成为网站上线测试的极少数的第一批用户，与我们一起改善使用体验。</p>
            <p>好奇、建议、探讨、合作、反馈，或者仅仅是想聊聊天，随便什么理由，或根本没有理由，都欢迎骚扰我们！</p>
            <p>讨厌虚伪</p>
            <p>讨厌没有植物</p>
            <p>讨厌钢筋水泥刀枪不入</p>
            <p>讨厌大批量生产拷贝复制的所谓美丽和成功</p>
            <br />
            <p>爱简单</p>
            <p>爱环保</p>
            <p>爱小玩意儿</p>
            <p>爱纯粹而简单的事物</p>
            <p>爱一针一线做出来的美好</p>
            <p>爱那些虽不完美但倾注心血的作品</p>
            </p>
          </div><!-- hope --!>
          <h3 class="title" id="aboutUS">手工客-用双手，做你自己 </h3>
          <div id="hope">
          	<p>手工客是一个手工创意人工作和生活社区，你可以在任何时间、任何地点轻松发布你的手工作品、文章、话题和碎碎念，并与志同道合的朋友分享。
          	</p><br />
          	<p>
          	我们现在我们邀请你，成为网站上线测试的极少数第一批用户,与我们一起，创造一个简单、公平而又尊重原创的社区。
          	</p><br />
          	<p>好奇，建议，探讨，合作，反馈...，都欢迎联络我们！
          	</p>
          	<p class="email">moyaya@sogoke.com</p>                             
          </div>
        </div><!-- about -->
        <div id="sidebar">
          <div id="follow">
            <h3 id="followus">关注我们</h3>
            <div id="sns">
              <p class="link"><a href="http://weibo.com/2272568451"><img src="assets/weibo.jpg" alt="sina weibo" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://www.douban.com/group/354124/"><img src="assets/douban.jpg" alt="douban" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://sogoke.diandian.com/"><img src="assets/dian.jpg" alt="diandian" /><span>手工之美</span></a></p>
            </div><!-- sns -->
          </div>
          <div id="recommend">
            <a class="link" href="http://book.douban.com/subject/5320866/"><h4 class="title">Rework</h4></a>
            <a class="link" href="http://book.douban.com/subject/5320866/"><img class="cover" src="assets/reworkCover.png" alt="The cover of rework" /></a>
            <div class="description">
              <p>作者：[美]贾森·弗里德</p>
              <p>[丹]戴维·海涅迈尔·汉森</p>
              <p>译者：李瑜偲</p>
              <p>出版社：中信出版社</p>
              <p>出版日期：2010-10</p>
              <p>页数：236</p>
              <p>定价：36.0元</p>
              <p>装帧：平装</p>
              <p>ISBN：978750862360</p>
            </div><!-- description -->
          </div><!-- recommend -->
          <img class="label" src="assets/recommend.jpg" alt="recommend label" />
        </div><!-- sidebar -->
      </div><!-- content -->