<div id="wrapper">
      <div id="header">
        <a id="logo" href="/"><img src="assets/logo.png" alt="logo" /></a>
      </div><!-- header -->
      <div id="aboutContent">
        <div id="about">
          <h3 class="title" id="aboutUS">关于手工客：</h3>
          <div id="hope">
            <p>讨厌虚伪</p>
            <p>讨厌没有植物</p>
            <p>讨厌钢筋水泥刀枪不入</p>
            <p>讨厌大批量生产拷贝复制的所谓美丽和成功</p>
            <br />
            <p>爱简单</p>
            <p>爱环保</p>
            <p>爱小玩意儿</p>
            <p>爱纯粹而又美好的事物</p>
            <p>爱一针一线 爱缝缝补补</p>
            <p>爱那些虽不完美但独一无二的作品</p>
            <br />
            <p>我是手工创意人</p>
            <p>我乐于分享我的生活理念、手工心得和作品..</p>
            <p>但更希望有懂的人欣赏</p>
            <p>并能找到一些臭味相投的朋友</p>
            <br />
            <p>我有些作品想出售</p>
            <p>我偶尔也希望能将我的兴趣变成事业</p>
            <p>但却不想开一家又麻烦又复杂的网络商店</p>
            <br />
            <p>在手工客</p>
            <p>我成为万千手工创意人的一部分</p>
            <p>随时随地的分享彼此的工作和生活</p>
            <p>并在这里交集，欣赏，成为朋友</p>
            <p>以及发现更多手工之美</p>
            <br />
            <p>现在我邀请你</p>
            <p>成为手工客上线测试的极少数第一批用户</p>
            <p>与万千的手工创意人一起</p>
            <p>创造一个简单、公平而又尊重原创的社区</p>
            <p>你来吗？</p>
            <br />
            <p>最后</p>
            <p>好奇，建议，探讨，合作，反馈...</p>
            <p>都欢迎联络我</p>
            
            <p class="email">moyaya@sogoke.com</p>       
            
            <p>手工客 用双手，做你自己</p>                      
          </div><!-- hope --!>
        </div><!-- about -->
      </div><!-- content -->
      <div id="footer" style="margin-top:70px">
        <small id="copyright">Copyright@sokoge.com 2011, All Right Reserved</small>
        <small id="links"><a href="about">关于手工客<a/>  <a href="join">加入我们</a></small>
          </div><!-- footer -->                     
        </div><!-- wrapper -->
