<div id="wrapper">
      <div id="header">
        <a id="logo" href="/"><img src="assets/logo.png" alt="logo" /></a>
      </div><!-- header -->
      <div id="aboutContent">
        <div id="about">
          <h3 class="title" id="aboutUS">关于手工客：</h3>
          <div id="hope">
            <p>我们希望和你一起创造一个简单、公平而又尊重原创的手工爱好者社区，</p>
            <p>现在我们邀请你，成为网站上线测试的极少数的第一批用户，与我们一起改善使用体验。</p>
            <p>好奇、建议、探讨、合作、反馈，或者仅仅是想聊聊天，随便什么理由，或根本没有理由，都欢迎骚扰我们！</p>
            <p class="email">moyaya@sogoke.com</p>                             
          </div><!-- hope --!>
        </div><!-- about -->
      </div><!-- content -->
      <div id="footer">
        <small id="copyright">Copyright@sokoge.com 2011, All Right Reserved</small>
        <small id="links"><a href="about">关于手工客<a/>  <a href="join">加入我们</a></small>
          </div><!-- footer -->                     
        </div><!-- wrapper -->