
      <div id="content">
        <div id="about">
          <h3 class="title" id="aboutUS">关于手工客：</h3>
          <div id="hope">
            <p>我们希望和你一起创造一个简单、公平而又尊重原创的手工爱好者社区，</p>
            <p>现在我们邀请你，成为网站上线测试的极少数的第一批用户，与我们一起改善使用体验。</p>
            <p>好奇、建议、探讨、合作、反馈，或者仅仅是想聊聊天，随便什么理由，或根本没有理由，都欢迎骚扰我们！</p>
            <p class="email">moyaya@sogoke.com</p>                             
          </div><!-- hope --!>
        </div><!-- about -->
        <div id="sidebar">
          <div id="follow">
            <h3 id="followus">关注我们</h3>
            <div id="sns">
              <p class="link"><a href="http://weibo.com/2272568451"><img src="images/weibo.jpg" alt="sina weibo" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://www.douban.com/group/354124/"><img src="images/douban.jpg" alt="douban" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://sogoke.diandian.com/"><img src="images/dian.jpg" alt="diandian" /><span>手工之美</span></a></p>
            </div><!-- sns -->
          </div>
          <div id="recommend">
            <a class="link" href="http://book.douban.com/subject/5320866/"><h4 class="title">Rework</h4></a>
            <a class="link" href="http://book.douban.com/subject/5320866/"><img class="cover" src="images/reworkCover.png" alt="The cover of rework" /></a>
            <div class="description">
              <p>作者：[美]贾森·弗里德</p>
              <p>[丹]戴维·海涅迈尔·汉森</p>
              <p>译者：李瑜偲</p>
              <p>出版社：中信出版社</p>
              <p>出版日期：2010-10</p>
              <p>页数：236</p>
              <p>定价：36.0元</p>
              <p>装帧：平装</p>
              <p>ISBN：978750862360</p>
            </div><!-- description -->
          </div><!-- recommend -->
          <img class="label" src="images/recommend.jpg" alt="recommend label" />
        </div><!-- sidebar -->
      </div><!-- content -->