
      <div id="content">
        <div id="join">
          <h3 class="title" id="joinUS">加入我们：</h3>
          <div id="why">
            <p>我们推崇简单、轻松、务实而又公平的工作方式，</p>
            <p>寻找那些不循规蹈矩、富裕创意、乐于奉献而又热爱手工的...你。</p>
            <p>让我们和千千万万手工爱好者一起，创造一个简单、好玩又有用的手工分享社区。</p>
            <p class="email">有兴趣请发邮件至：moyaya@sogoke.com</p>
          </div><!-- why --!>
          <div id="needs">
            <p class="title">手工客需要：</p>
            <ul class="position">
              <li><a class="scroll" href="javascript:(function () {void(0);window.scrollTo(0,480);})();">Ruby开发工程师</a></li>
              <li><a class="scroll" href="javascript:(function () {void(0);window.scrollTo(0,830);})();">产品经理</a></li>
              <li><a class="scroll" href="javascript:(function () {void(0);window.scrollTo(0,1130);})();">交互设计师</a></li>
              <li><a class="scroll" href="javascript:(function () {void(0);window.scrollTo(0,1480);})();">互动营销师</a></li>
            </ul>
          </div><!-- needs -->
          <div class="job">
            <p class="position">Ruby开发工程师</p>
            <ul>
              <li>在乎代码，而且写的还不错</li>
              <li>是一个多面手，Ruby和Javascript对你来说不在话下，再多一些C/C++/Erlang就更好</li>
              <li>熟悉网站架构，但同时也知道“提前优化是万恶之源”</li>
              <li>测试驱动你的代码，熟悉敏捷开发。曾与开源项目打过交道，哪怕仅仅是邮件列表</li>
              <li>热衷于学习，有自信而不固执的态度修正自己的技术。</li>
              <li>善于选择技术以及善用现有资源，比如知道生活在云端可以省下50%的精力和金钱</li>
              <li>崇尚自由，但也理解责任。</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>有一年以上的Ruby开发经验</li>
              <li>有社区/电子商务产品开发经验者</li>
              <li>乐于分享，各类流行互联网服务的热心参与和内容贡献者</li>
              <li>对开源软件，敏捷开发方法有特别的兴趣。</li>
            </ul>
            <a class="back2top" href="javascript:(function () {void(0);window.scrollTo(0,0);})();">回到顶部</a>
          </div>
          <div class="job">
            <p class="position">产品经理</p>
            <ul>
              <li>熟悉产品经理的那些玩具和玩儿法</li>
              <li>对数据敏感，并能从平凡无趣的数据中发现问题和需求</li>
              <li>会做加法，更要善于做减法，找到最简单的方法满足用户的需求</li>
              <li>善于沟通，受欢迎，能让那些有个性的设计师，程序，推广...围绕在你身边，确保进度</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>两年以上社区产品或电子商务产品的设计和运营经验</li>
              <li>有一定的项目管理能力</li>
              <li>有市场意识、运营思维</li>
            </ul>
            <a class="back2top" href="javascript:(function () {void(0);window.scrollTo(0,0); })();">回到顶部</a> 
          </div>
          <div class="job">
            <p class="position">UI交互设计师</p>
            <ul>
              <li>有创意、有想法，喜欢挑战</li>
              <li>是一个多面手，不但能做好的UI交互设计，也能自己切图实现设计想法，如果对HTML5，JavaScript有研究会更好</li>
              <li>善于用视觉表达想法，平衡易用性和美观</li>
              <li>能坚持想法但也善于沟通</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>有小型创业团队工作经验</li>
              <li>有社区产品UI交互设计经验</li>
              <li>有美术、设计教育背景</li>
              <li>有手绘功底</li>
            </ul>
            <a class="back2top" href="javascript:(function () {void(0);window.scrollTo(0,0); })();">回到顶部</a> 
          </div>
          <div class="job">
            <p class="position">互动营销师</p>
            <ul>
              <li>喜欢分享和与人打交道，并乐在其中</li>
              <li>熟悉SNS社交媒体的传播（SMO）路径和玩法</li>
              <li>设计各种好玩有有趣的线上线下互动营销话题和活动</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>有社区产品推广经验</li>
              <li>熟悉微博、论坛、博客、轻博客、SNS社区等网络社区产品的传播</li>
              <li>对SEO以及SMO有一定的实操经验</li>
              <li>有创意和想法，具备良好的沟通能力</li>
              <li>有活动策划经验</li>
            </ul>
            <a class="back2top" href="javascript:(function () {void(0);window.scrollTo(0,0); })();">回到顶部</a> 
          </div>
        </div><!-- join -->
        <div id="sidebar">
          <div id="follow">
            <h3 id="followUS">关注我们</h3>
            <div id="sns">
              <p class="link"><a href="http://weibo.com/2272568451"><img src="imagesweibo.jpg" alt="sina weibo" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://www.douban.com/group/354124/"><img src="assets/douban.jpg" alt="douban" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://sogoke.diandian.com/"><img src="assets/dian.jpg" alt="diandian" /><span>手工之美</span></a></p>
            </div><!-- sns -->
          </div>
          <div id="recommend">
            <a class="link" href="http://book.douban.com/subject/5320866/"><h4 class="title">Rework</h4></a>
            <a href="http://book.douban.com/subject/5320866/"><img class="cover" src="assets/reworkCover.png" alt="The cover of rework" /></a>
            <div class="description">
              <p>作者：[美]贾森·弗里德</p>
              <p>[丹]戴维·海涅迈尔·汉森</p>
              <p>译者：李瑜偲</p>
              <p>出版社：中信出版社</p>
              <p>出版日期：2010-10</p>
              <p>页数：236</p>
              <p>定价：36.0元</p>
              <p>装帧：平装</p>
              <p>ISBN：978750862360</p>         
            </div><!-- description -->
          </div><!-- recommend -->
          <img class="label" src="assets/recommend.jpg" alt="special recommend" />
        </div><!-- sidebar -->
      </div><!-- content -->