<div id="wrapper">
      <div id="header">
        <a id="logo" href="/"><img src="assets/logo.png" alt="logo" /></a>
      </div><!-- header -->
      <div id="contactContent" class="content">
        <div id="join">
          <h3 class="title" id="joinUS">加入我们：</h3>
          <div id="why">
            <p>我们深深的认同《Rework》的理念</p>
            <p>推崇并实践简单、轻松、务实而又公平的工作方式</p>
            <p>通过37Signals网络协同办公</p>
            <p>.....</p>
            <br />
            <p>我们没有伟大的商业愿景</p>
            <p>不期望去改变世界</p>
            <p>不规划3年或5年IPO或上市</p>
            <p>甚至都没想要去做所谓的行业领导者</p>
            <p>...</p>
            <br />
            <p>我们讨厌漫长又无用的会议</p>
            <p>讨厌每月、季度、年度…那种幻想式的规划</p>
            <p>讨厌说假大空的废话</p>
            <p>讨厌办公室斗争</p>
            <p>…</p>
            <br />
            <p>仅仅奢望能按照自己的想法</p>
            <p>做些简单、干净、好玩的事</p>
            <p>并能在满足用户的需要的同时获得一些收获</p>
            <br />
            <p>现在</p>
            <p>我们寻找理想主义,偏执狂,不墨守陈规,富于创意…的你</p>
            <p>仅凭</p>
            <p>一间小小的看得见风景的办公室</p>
            <p>不算太高的薪水</p>
            <p>较大比例的股份/期权</p>
            <p>希望与你一起分享创业的快乐和艰辛</p>
            <p>并与千千万万的手工创意人一起</p>
            <p>创造一个简单、好玩又有用的手工分享社区</p>
            <br />
            <p class="email">有兴趣请发邮件至：moyaya@sogoke.com</p>
          </div><!-- why -->
          <div id="needs">
            <p class="title">手工客需要：</p>
            <ul class="position">
            <script  type="text/javascript" charset="UTF-8">
              function findDistance(id) {
                var element = document.getElementById(id+''),
                    distance = -25;

                  if (!element || !element.offsetParent) {
                    return null;
                  } else {
                  do {
                    distance += element.offsetTop;
                  } while (element = element.offsetParent);
                }

                return distance;
              }
              </script>
              <li><a class="scroll" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,findDistance('REB2T') || 500);})();">Ruby开发工程师</a></li>
              <li><a class="scroll" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,findDistance('PMB2T') || 570);})();">产品经理</a></li>
              <li><a class="scroll" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,findDistance('UIB2T') || 845);})();">交互设计师</a></li>
              <li><a class="scroll" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,findDistance('ISB2T') || 1105);})();">互动营销师</a></li>
              <li><a class="scroll" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,findDistance('BDB2T') || 1355);})();">BD拓展专员</a></li>
            </ul>
          </div><!-- needs -->
          <div class="job">
            <p class="position" id="REB2T">Ruby开发工程师</p>
            <ul>
              <li>在乎代码，而且写的还不错</li>
              <li>是一个多面手，Ruby和Javascript对你来说不在话下，再多一些C/C++/Erlang就更好</li>
              <li>熟悉网站架构，但同时也知道“提前优化是万恶之源”</li>
              <li>测试驱动你的代码，熟悉敏捷开发。曾与开源项目打过交道，哪怕仅仅是邮件列表</li>
              <li>热衷于学习，有自信而不固执的态度修正自己的技术。</li>
              <li>善于选择技术以及善用现有资源，比如知道生活在云端可以省下50%的精力和金钱</li>
              <li>崇尚自由，但也理解责任。</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>有一年以上的Ruby开发经验</li>
              <li>有社区/电子商务产品开发经验者</li>
              <li>乐于分享，各类流行互联网服务的热心参与和内容贡献者</li>
            </ul>
            <a class="back2top" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,0);})();">回到顶部</a>
          </div>
          <div class="job">
            <p class="position" id="PMB2T">产品经理</p>
            <ul>
              <li>熟悉产品经理的那些玩具和玩儿法</li>
              <li>对数据敏感，并能从平凡无趣的数据中发现问题和需求</li>
              <li>会做加法，更要善于做减法，找到最简单的方法满足用户的需求</li>
              <li>善于沟通，受欢迎，能让那些有个性的设计师，程序，推广...围绕在你身边，确保进度</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>两年以上社区产品或电子商务产品的设计和运营经验</li>
              <li>有一定的项目管理能力</li>
              <li>有市场意识、运营思维</li>
            </ul>
            <a class="back2top" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,0);})();">回到顶部</a>
          </div>
          <div class="job">
            <p class="position" id="UIB2T">UI交互设计师</p>
            <ul>
              <li>有创意、有想法，喜欢挑战</li>
              <li>是一个多面手，不但能做好的UI交互设计，也能自己切图实现设计想法，如果对html5，JS有研究会更好</li>
              <li>善于用视觉表达想法，平衡易用性和美观</li>
              <li>能坚持想法但也善于沟通</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>有小型创业团队工作经验</li>
              <li>有社区产品UI交互设计经验</li>
              <li>有美术、设计教育背景</li>
              <li>有手绘功底</li>
            </ul>
            <a class="back2top" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,0);})();">回到顶部</a>
          </div>
          <div class="job">
            <p class="position" id="ISB2T">互动营销师</p>
            <ul>
              <li>喜欢分享和与人打交道，并乐在其中</li>
              <li>熟悉SNS社交媒体的传播（SMO）路径和玩法</li>
              <li>设计各种好玩有有趣的线上线下互动营销话题和活动</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>有社区产品推广经验</li>
              <li>熟悉微博、论坛、博客、轻博客、SNS社区等网络社区产品的传播</li>
              <li>对SEO以及SMO有一定的实操经验</li>
              <li>有创意和想法，具备良好的沟通能力</li>
              <li>有活动策划经验</li>
            </ul>
            <a class="back2top" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,0);})();">回到顶部</a>
          </div>
          <div class="job">
            <p class="position" id="BDB2T">BD拓展专员</p>
            <ul>
              <li>与手工创意人、线下手工店铺、淘宝手工卖家等就合作进行联络、沟通和拓展</li>
            </ul>
            <p class="priority">优先条件：</p>
            <ul>
              <li>手工爱好者优先</li>
              <li>熟悉C2C网站的运作，熟悉淘宝、拍拍店铺的运作优先</li>
              <li>一年以上BD相关工作经验</li>
              <li>有亲和力，一定的谈判技巧、沟通能力以及优秀的执行力</li>
              <li>勇于承受压力和接受挑战</li>
              <li>有摄影和文字功能更佳</li>
            </ul>
            <a class="back2top" href="javascript:void(0);" onclick="(function () {window.scrollTo(0,0);})();">回到顶部</a>
          </div>
        </div><!-- join -->
        <div id="sidebar">
          <div id="follow">
            <h3 id="followUS">关注我们</h3>
            <div id="sns">
              <p class="link"><a href="http://weibo.com/2272568451"><img src="assets/weibo.png" alt="sina weibo" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://www.douban.com/group/354124/"><img src="assets/douban.png" alt="douban" /><span>手工之美</span></a></p>
              <p class="link"><a href="http://sogoke.diandian.com/"><img src="assets/dian.png" alt="diandian" /><span>手工之美</span></a></p>
            </div><!-- sns -->
          </div>
          <div id="recommend">
            <a class="link" href="http://book.douban.com/subject/5320866/"><h4 class="title">Rework</h4></a>
            <a href="http://book.douban.com/subject/5320866/"><img class="cover" src="assets/reworkCover.png" alt="The cover of rework" /></a>
            <div class="description">
              <p>作者：[美]贾森·弗里德</p>
              <p>[丹]戴维·海涅迈尔·汉森</p>
              <p>译者：李瑜偲</p>
              <p>出版社：中信出版社</p>
              <p>出版日期：2010-10</p>
              <p>页数：236</p>
              <p>定价：36.0元</p>
              <p>装帧：平装</p>
              <p>ISBN：978750862360</p>         
            </div><!-- description -->
          </div><!-- recommend -->
          <img class="label" src="assets/recommend.png" alt="special recommend" />
        </div><!-- sidebar -->
      </div><!-- content -->
      <div id="footer" style="margin-top:70px">
        <small id="copyright">Copyright@sokoge.com 2011, All Right Reserved</small>
        <small id="links"><a href="about.html">关于手工客<a/>  <a href="contact.html">加入我们</a></small>
          </div><!-- footer -->                     
        </div><!-- wrapper -->
