/* css hacks for ie6 */

/******************************************************************************
 * Global
 *****************************************************************************/
body {
  background: #fcfcfc;
}

#footer small {
  height: 1em;
  padding: 3px 0 5px 0;
}

/*=============================================================================
 * index page
 *===========================================================================*/
#apply p.detail {
  width: 270px;
}

#introduction {
  top: 30px;
}

.popover {
  position: absolute;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000)"; /* IE8 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);   /* IE6 & 7 */
  zoom: 1;
  height: 150%;
}

.popover div#feedback {
  background: url(css/BG-feedback.gif) no-repeat center center;
  z-index: 8;
  top: 20%;
}

 .popover div#feedback img.feedbackClose {
  top: 30px;
}            

.popover div#request img.requestClose {
  left: 621px;
}

.popover div#request div.detail h4.title {
  font-family: "Microsoft YaHei", "SimSun";
}

.popover div#request div.detail form.request fieldset label.nickname {
  position: relative;
  top: -10px;
  margin: 0 0 0 2em;
}

.popover div#request div.detail form.request fieldset label.email {
  position: relative;
  top: -10px;
  margin: 0 0 0 2em;
}

.popover div#request div.detail form.request fieldset input.nickname {
  height: 1em;
  padding: 13px 0;
}

.popover div#request div.detail form.request fieldset input.email{
  height: 1em;
  padding: 13px 0;
}

.popover div#request div.detail form.request fieldset label.selfIntro {
  position: relative;
  top: -95px;
  left: 0;
}              

.popover div#request div.detail form.request fieldset input.button {
  left: .8em;
}

.popover div#request div.detail form.request fieldset strong {
  position: relative;
  top: -15px;
  left: 10px;
}

.popover div#request div.detail form.request fieldset strong.avatarError {
  position: relative;
  top: -5px;
  left: 10px;
}            

.popover div#request div.detail form.request fieldset span.selfIntroCounter {
  max-width: 5em;
}

.popover div#feedback p.thanks {
  padding: 5px 0 0 0;
}

#craftsman.topLeft {
  background: url(css/BG-craftsman-top-left.gif) no-repeat 0 0;
}

#craftsman .topLeftMessage {
  position: relative;
  left: 85px;
  top:30px;
}

#craftsman .topLeftName {
  font-size: 0.96em;
}

.topRight {
  background: url(css/BG-craftsman-top-right.gif) no-repeat 0 0;
}

#craftsman .topRightMessage {
  position: relative;
  right: 85px;
  top: 30px;
}                  

#craftsman .topRightName {
  font-size: 0.96em;
}

.bottomLeft {
  background: url(css/BG-craftsman-bottom-left.gif) no-repeat 0 0;
}

#craftsman .bottomLeftMessage {
  position: relative;
  left: 85px;
  top:30px;
}                  

.bottomRight {
  background: url(css/BG-craftsman-bottom-right.gif) no-repeat 0 0;
}

#craftsman .bottomRightMessage {
  position: relative;
  right: 85px;
  top:30px;
}

#craftsman .bottomLeftName {
  font-size: 0.96em;
}
/*=============================================================================
 * contact page
 *===========================================================================*/
#join div.job {
  margin: 0;
  padding: 0;
}         

#contactContent div#join div.jobs a.back2top {
  margin-top: 100px;
}

#contactContent div#join div.job a.back2top {
  position: relative;
  top: 0;
  right: 0;
  padding: 3px 0 0 0;
}

#contactContent div#join div#needs ul.position li {
  list-style-image: url(css/bullet-turn.png);
}

#contactContent div#sidebar div#follow h3 {
  padding: 5px 0 0 0;
}

#sidebar {
top: 0;
}

#sidebar div#follow h3 {
  height: 26px;
  padding:  0 0 8px 0;
}

#sidebar div#recommend div.description p {
  line-height: 1.25em;
}
/*=============================================================================
 * About page
 *===========================================================================*/
