<!DOCTYPE HTML>
<html lang="zh-CN">
  <head>
    <title>手工创意人的工作和生活社区 - 手工客 用双手，做你自己</title>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta content="手工,手工制作,手工DIY,手工爱好者,手工艺品,创意市集" name="keywords" />
    <meta content="手工客是一个简单而又公平的手工创意人的工作和生活社区,你可以随时随地轻松发布你的纯手工制作作品、手工教程、文章、话题等，并与志同道合的朋友一起分享。" name="description" />
    <%= stylesheet_link_tag "application" %>
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="assets/ie6.css" media="screen" />
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="assets/ie7.css" media="screen" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="assets/ie8.css" media="screen" />
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
   </head>
   <body>
     <%= yield %>
     <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25712227-1']);
      _gaq.push(['_trackPageview']);
      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>                        
   </body>
 </html>
